.intro-container {   
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.profile-image-container{
    margin-right: 20px;
}

.profile-image {   
    width: 225px;
    height: 225px;
    border-radius: 100%;
    object-fit: cover;
    mask-image: url('/public/images/wave.svg');
    mask-size: 100% 100%; /* cover the entire image*/
    mask-position: center;
    animation: wave 2s infinite alternate;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-23px);
}
}

.AboutMe{
    padding: 20px;
}

.intro-text, .animate-character {
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      white 0%,
      blue 29%,
      white 67%,
      blue 100%
    );
    flex-grow:1;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
       
    background-size: auto auto;
    background-clip: border-box;
    background-size: 20% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display:center;
    font-size: 30px;
}

@keyframes textclip {
    to {
      background-position: 80% center;
    }
  }

body {
    background-image: url('/public/images/IntroImage.jpg');   
    background-size: cover;
    background-position: center;
    color: blanchedalmond;
}

.navbar{
   top:0;
   right: 10%;
   position:fixed;   
}

.navbutton {
    background-color: blue; /* blue */
    border: 2px solid ;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;  
}

.navbutton:hover {
    background-color: gray; /* blue*/
    color: white;
}


.AboutMe {
    font-size: 15px;
    text-align: center;
    padding: 1cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
}