.intro-container {   
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.profile-image-container{
    margin-right: 20px;
}

.profile-image {   
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    mask-image: url('/public/images/wave.svg');
    mask-size: 100% 100%; /* cover the entire image*/
    mask-position: center;
    animation: wave 2s infinite alternate;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-25px);
}



    
}
.intro-text {
    flex-grow:1;
    text-align: center;
}

body {
    background-image: url('/public/images/background.jpg');   
    background-size: cover;
    background-position: center;
    color: blanchedalmond;
}

.button{
    text-align: center;
}